name: Gridsome CI-CD

on: [push]

env:
  # workaround until Actions supports something like exists()
  HAS_GH_TOKEN: ${{ secrets.GH_TOKEN }}
  # GH PAGES
  SITE_URL: https://hunsalz.github.io
  PATH_PREFIX: /gridsome-starter-wikidata

jobs:
  build:
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, 'skip ci')"
    strategy:
      matrix:
        node-version: [20.18]
    steps:
      - uses: actions/checkout@v4
      
      - name: Get yarn cache directory path
        id: yarn-cache-dir-path
        run: echo "dir=$(yarn cache dir)" >> $GITHUB_OUTPUT
      
      - name: Cache yarn cache
        uses: actions/cache@v4
        with:
          path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-
      
      - name: Cache node_modules
        uses: actions/cache@v4
        with:
          path: node_modules
          key: ${{ runner.os }}-node-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-node-
      
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
      
      - name: Build deployment
        run: |
          yarn install
          yarn run build
        env:
          CI: true
      - name: Deploy to GitHub Pages
        if: env.HAS_GH_TOKEN != '' # run deployment not until GH_TOKEN is available
        uses: Cecilapp/GitHub-Pages-deploy@v3
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
        with:
          build_dir: dist/
