name: Gridsome CI-CD

on: [push]

env:
  HAS_EMAIL: ${{ secrets.EMAIL }}
  HAS_GH_TOKEN: ${{ secrets.GH_PAGES_TOKEN }}
  # workaround until Actions supports something like exists()

jobs:
  build:
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, 'skip ci')"
    strategy:
      matrix:
        node-version: [13.x]
    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: npm install, build, and test
      run: |
        npm install
        npm run build --if-present --verbose
      env:
        CI: true
    - name: Deploy to GitHub Pages
      if: env.HAS_EMAIL != '' && env.HAS_GH_TOKEN != '' # run deployment not until both env vars are available  
      uses: Cecilapp/GitHub-Pages-deploy@master
      env:
        EMAIL: ${{ secrets.EMAIL }}
        GH_TOKEN: ${{ secrets.GH_PAGES_TOKEN }}
        BUILD_DIR: dist/
